html, body{
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #4D407A;
    background-image: -webkit-radial-gradient(40% 0%, #545ab6 0%, rgba(84, 90, 182, 0) 100%),-webkit-radial-gradient(0% 100%, rgba(118, 72, 160, 0.8) 0%, rgba(118, 72, 160, 0) 50%);
    background-image: radial-gradient( at 40% 0%, #545ab6 0%, rgba(84, 90, 182, 0) 100%),radial-gradient( at 0% 100%, rgba(118, 72, 160, 0.8) 0%, rgba(118, 72, 160, 0) 50%);
    background-position: left bottom,left bottom;
    background-repeat: repeat,no-repeat;
    background-size: 6000px 1400px,600px 600px;
}

.container {
  text-align: center;
  padding-top: 250px;
}

p {
  color: white;
}

p a {
  color: #0497da;
}
.name {
  color: white;
  font-size: 70px;
  font-weight: bold;
  width: 280px;
  height: 80px;
  margin: auto;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height: 40px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}
.classname:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
  background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  background-color:#8cb82b;
}.classname:active {
  position:relative;
  top:1px;
}
